name: Publish

on:
  push:
    tags:
      - v*

jobs:

  lint:
    uses: ./.github/workflows/lint.yml

  publish:

    name: Publish

    needs:
      - lint

    permissions:
      contents: read
      packages: write

    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Version
        run: |
          echo "VERSION=${GITHUB_REF_NAME#v}" >> $GITHUB_ENV

      - name: Authenticate with GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Docker BuildX
        uses: docker/setup-buildx-action@v3

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          platforms: |
            linux/amd64
            linux/arm64
          tags: |
            ghcr.io/${{ github.repository_owner }}/home-trmnl-server:${{ env.VERSION }}
            ghcr.io/${{ github.repository_owner }}/home-trmnl-server:latest
          push: true
